<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter Exams</title>

</head>
<body>
{{ error }}
{% for x in student_results: %}
{% print x %}
{% endfor %}
<div>
    <form action ='/checkresults' method="post">

        <input type ='text' name = 'USERNAME' placeholder="USERNAME" required="True">
        <br>

        <input type = 'number' name = 'STUDENT_ID' placeholder="STUDENT ID" required="True">
        <br>


        <input type = 'submit' placeholder="Check result">


    </form>
</div>

<a href="courseunits.html"> Try it out</a>
</body>
</html>