<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link href="../static/css/style.css" rel="stylesheet">
    <script src="../static/js/script.js"></script>


</head>
<body>
    <!--Nav bar-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#"> School Management App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
 <!--         </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          -->
        </ul>

          <button class="btn btn-outline-success my-2 my-sm-0" style="margin-right:30px"><a href="/registration" style="color:white">Sign Up</a></button>
            <br>
          <button class="btn btn-outline-success my-2 my-sm-0" id="header-btn2"><a href="/login" style="color:white">Login</button>

      </div>
    </nav>
<br>
<br>


<!-- header #4 -->
<header class="header" id="header4" style="padding-top: 50px;padding-bottom: 60px">
	<div class="center">
		<div class="caption">
			<h2 class="title display-3">Welcome to SMA</h2>
			<p class="text">A quality School Management System you can trust</p>
		</div>
	</div>
	<i class="scroll fa fa-angle-double-down"></i>
</header>





<!-- how we do section -->
	<section id="how-we-do" class="p-0">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 how-bg-img"></div>
				<div class="col-xs-12 col-sm-12 col-md-6 how-contents">
					<h4 class="section-title mb-2 h3"> SCHOOL MANAGEMENT SYSTEM</h4>
					<p class="mb-4">Properties</p>
					<ul class="list-unstyled">
						<li>Easy to understand</li>
						<li>Simple to use</li>
						<li>Fast and effective</li>
						<li>Quality assured</li>

					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- ./how we do section -->



<!--Bottom Footer-->
		<div class="bottom section-padding">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="copyright">
							<p>© <span>2020</span> <a href="/" class="transition">SMA</a> All rights reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
<!--Bottom Footer-->





</body>
</html>