<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Registration</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="../static/css/login.css" rel="stylesheet">
        <script src="../static/js/script.js"></script>


</head>
<body>


<div class="wrapper">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <!-- <img src="" id="icon" alt="User Icon" /> -->
        <h1>SMA</h1>
      <h3>Sign Up</h3>
    </div>
      <p style="color: green">{{ word }}</p>
      <p style="color: red">{{ fail }}</p>
      <p style="color: red">{{ userex }}</p>
    <!-- Registration Form -->
     
    <form method="post" action="/registration">
      <input type="text" id="login" name="USERNAME" placeholder="Username*" required=True>
        <input type="text" id="login" name="FIRST_NAME" placeholder="First Name*" required=True>
        <input type="text" id="login" name="LAST_NAME" placeholder="Last Name*" required=True>
        
        <input type="text" id="login" name="COURSE_ID" placeholder="Course Id*" required=True>
        <input type="text" id="login" name="UNIT_ID" placeholder="Unit Id*" required=True>
      
        <!--
      <select id="login" class="course-select" name="COURSE_ID" required onchange="filterUnits()">
        <option value="" disabled selected>Select Course</option>
        <option value="1">COMPUTER TECH</option>
        <option value="2">BIO SCIENCES</option>
        <option value="3">BUSINESS</option>
        <option value="4">ARTS</option>
        <option value="5">EDUCATION</option>
        <option value="6">ENGINEERING</option>
        <option value="7">SCIENCES</option>
        <option value="8">CONSTRUCTION</option>
        <option value="24">Space Exploration</option>
    </select>
    <select id="login" class="unit-select" name="UNIT_ID" required>
      <option value="" disabled selected>Select Unit</option>
      
  </select>
-->
      <input type="password" id="login"  name="PASSWORD" placeholder="password*"required=True>
      <input type="submit" class="fadeIn fourth" value="Sign up">
    </form>

    <!-- Login -->
    <div id="formFooter">
      <a class="underlineHover" href="/login">Login</a>
    </div>

  </div>
</div>



</body>
</html>