<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=Cp1252" />
<script src="style/report.js" type="text/javascript"></script>
<link href="style/report.css" type="text/css" rel="stylesheet">


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="../static/css/style.css" rel="stylesheet">
    <script src="../static/js/script.js"></script>
</head>
<body>

    <!--Nav bar-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#"> SMA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home page <span class="sr-only">(current)</span></a>
          </li>

        
          <li class="nav-item">
            <a class="nav-link" href="/static/reports/CourseU&l.html">Courses</a>
          </li>
          <li class="nav-item"></li>
            <a class="nav-link" href="/static/reports/Unitstudent.html">Units</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/static/reports/DepartmentC&u.html">Departments</a>
          </li>
          

          
        </ul>

         

      </div>
    </nav>

    <br>
    <br>
    <div class="container"></div>
        <h2 style="padding-top: 10px;">Student Results</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Result ID</th>
                    <th>Student ID</th>
                    <th>Unit ID</th>
                    <th>CAT 1</th>
                    <th>CAT 2</th>
                    <th>CAT 3</th>
                    <th>Exam Marks</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student[0] }}</td>
                    <td>{{ student[1] }}</td>
                    <td>{{ student[2] }}</td>
                    <td>{{ student[3] }}</td>
                    <td>{{ student[4] }}</td>
                    <td>{{ student[5] }}</td>
                    <td>{{ student[6] }}</td>
                    <td>{{ student[7] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

<!--
<div class = "karabats">

</div>
<div class="banner">
<table width="98%"><tr>
<td><h2 class="banner">Student Results</h2></td>
</tr></table></div>
<br/>
<div id="masterreports">
<div id="Master.0">
<div class="currentmasterreport">
<table id="Table.0" cellpadding="0" cellspacing="0" summary="">
<tr>
<th>FIRST_NAME</th>
<th>LAST_NAME</th>
<th>UNIT_ID</th>
<th>CAT_1</th>
<th>CAT_2</th>
<th>CAT_3</th>
<th>EXAM_MARKS</th>
<th>GRADE</th>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 0)" class="currentrow">
<td class="currentcell">Leon</td>
<td class="currentcell">Njoroge</td>
<td class="currentcell">2</td>
<td class="currentcell">40</td>
<td class="currentcell">40</td>
<td class="currentcell">40</td>
<td class="currentcell">40</td>
<td class="currentcell">null</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 1)">
<td>James</td>
<td>Ford</td>
<td>5</td>
<td>34</td>
<td>56</td>
<td>43</td>
<td>56</td>
<td>null</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 2)">
<td>Sally</td>
<td>Avent</td>
<td>11</td>
<td>45</td>
<td>67</td>
<td>53</td>
<td>78</td>
<td>null</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 3)">
<td>Joan</td>
<td>Forty</td>
<td>4</td>
<td>65</td>
<td>76</td>
<td>43</td>
<td>68</td>
<td>null</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 4)">
<td>Joe</td>
<td>Joe</td>
<td>9</td>
<td>34</td>
<td>65</td>
<td>75</td>
<td>23</td>
<td>null</td>
</tr>
<tr onclick="table_onSelectMasterRow(this, 0, 5)">
<td>Brown</td>
<td>Sadel</td>
<td>9</td>
<td>24</td>
<td>46</td>
<td>53</td>
<td>43</td>
<td>null</td>
</tr>
</table>
</div>
</div>
</div>
</body>
</html>
-->